<%- include("header") -%>
    <h2>this is my about page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. <br />Exercitationem fuga quae suscipit, maiores
        perspiciatis<br />
        explicabo. Veritatis odit aspernatur,<br /> quisquam, ullam iure illo aliquam dolorum dolor delectus laboriosam,
        amet<br />
        minus? Optio facere possimus veritatis ex porro nostrum corrupti debitis deserunt tenetur.</p>
    <%- include("footer") -%>